body {
  background: url("../images/yellowPopcornLight.png");
  /* background-color: #FF6B5E; */
    background-position: center center;
  /*

  #E6E6E6
  #F4CE33
  */
  background-color:   #F4CE33;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  margin-bottom:30px;
}

.brand-logo {
  font-family: 'Lobster', cursive;
  font-size:45px !important;
}

.nav-wrapper a {
  width:100%
}

#header-icon {
  font-size:45px;
}
.header-font{
  font-family: 'Passion One', cursive;
  color:#212121;
  font-size: 22px;
}

.container {
  width: 100%;
  border-radius:10px !important;
}

/* this fixes about container so it's the same width as the other containers */
#about-container .row .col {
  padding: 0px;
}

#main-container {
  width: 90%;
  max-width: 960px;
  clear: both;
  padding-top: 15px;
}

form {
  font-weight: bold;
  text-align: center;
}

.form-control {
  text-align: center;
  margin: 10px auto auto auto;
  width: 60%;
}

.custom-control-inline {
  margin-top: 15px;
}

#movie-results-container h1, #about-container h1 {
  font-size: 28px;
  font-weight: bold;
}

#movie-results-container p, #about-container p {
  font-size: 14px;
}

.trendingMoviesDiv {
  text-align: center;
  padding-bottom: 15px;
}

.trendingMoviesDiv h6 {
  margin-bottom: 20px;
}

.trendingMoviesDiv button {
  margin-bottom: 10px;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  background-color: #007bff;
  width: 50%;
}

.trendingMoviesDiv button:hover {
  background-color: rgba(0, 123, 255, 0.7);
}

.trendingMoviesDiv tr {
  border: none;
}

.foodListDiv {
  text-align: center;
}

.foodListDiv button {
  width: 50%;
}

#add-food {
  text-align: center;
}

#add-food-submit {
  margin-top: 10px;
  margin-right: 5px;
}

.card-body {
  padding-left: 20px;
  padding-right: 20px;
}

table.highlight tbody tr:hover {
    background-color: #bf360c3d;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 36px;
}

.carousel {
    height: 550px !important;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 20px;
}

.carousel .indicators {
  margin: auto auto 5px auto;
  height: 36px;
  bottom: 70px;
}

ul.indicators {
  background-color: rgba(0, 0, 0, 0.75);
  width: 15%;
  border-radius: 15px;
}

.carousel .carousel-item>img {
    width: 30%;
}

.carousel .indicators .indicator-item {
  margin: 15px 4px;
}
.carousel-item {
  color:#c18519;
}

#recipes-container .btn {
  background-color: #007bff;
}

#recipes-container .btn:hover {
  background-color: rgba(0, 123, 255, 0.7);
}

footer {
  font-size: 12px;
  text-align: center;
  border-top: 4px solid #bf360c;
}

/* meterialize footer styling */
main {
  flex: 1 0 auto;
}

.page-footer {
  background-color: #fff;
  padding-top: 0px;
}
.page-footer .footer-copyright {
  min-height: 0px;
  background-color: #fff;
  color: #bf360c;
}
/* media queries */

@media only screen and (max-width: 960px) {
  #movie-results-container h1 {
      font-size: 14px;
    }

  #movie-results-container p {
      font-size: 12px;
    }

  #about-container h1 {
      font-size: 14px;
    }

  #about-container p {
      font-size: 12px;
    }

}

/* trending button */
@media only screen and (max-width: 500px) {
  .trendingMoviesDiv button {
      width: 90%;
    }

  .carousel .carousel-item>img {
      width: 85%;
    }

  ul.indicators {
    width: 30%;
    }

}
